
@font-face {
  font-family: 'IRANSansWeb';
  src: url('../assets/fonts/IRANSansWeb_Medium.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
body {
  direction: rtl;
  text-align: right;
  font-family:'IRANSansWeb' !important ;
  background-color: #fff !important;
}

code {
  font-family:'IRANSansWeb' !important ;
}

