.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/7887830_24911.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.card{
    box-shadow: 3px 3px 2px #ccc;
}

.login-card-title{
    font-size: 27px;
    font-weight: bold;
    background: linear-gradient(to right,#112c3e , #aeb4f8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.inputContainer button[type="submit"] {
    border: none;
}
.login-label{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.17;
}
.form-sub-text{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2.17;
}